{% extends '@App/layout.html.twig' %}
{% block title %} {{ status_code }} проблема{% endblock %}
{% block body %}
    <div class="alert alert-danger">{{ status_code }} Somsing went rong...</div>
{% endblock %}

{% block stylesheets %}
{% endblock %}