{% extends '@App/layout.html.twig' %}

{% block body %}



                <h1>Categorys</h1>
    {% for category in categorys %}
        <a href="{{ path('product_by_category', {id: category.id}) }}">Category {{ category.id }}:{{ category.name }}</a><br>
    {% endfor %}

{% endblock %}
{% block title %} Categorys{% endblock %}
{% block stylesheets %}

{% endblock %}
